body {
    font-family: 'Jeju Myeongjo', serif;
    margin:0;
    background-color: #fffcee;
}

.logo {
    font-family: 'Karantina', cursive;
    font-size: 48px;
    font-weight: bold;
    color: #0097C1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav .active {
    color: #0097C1;
}

.container {
    display: flex;
}

/* ЛІВА ЧАСТИНА */
.left {
    width: 50%;
    padding: 40px;
}

h1 {
    font-size: 150px;
    font-family: 'Karantina', cursive;
    color: transparent;
  -webkit-text-stroke: 6px #0097C1;
}

.question {
    position: relative;      
    padding-left: 25px; 
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}

.question::before {
  content: '⭢';             
  color: #0097C1;     
  position: absolute;
  left: 0;                 
  top: 0;
  font-size: 18px;          
}

.data-inputs {
    display: flex;
    gap: 10px;
}

.data-inputs input{
    width:91%;
    padding:12px;
    padding-right:15px;
    background:#eee;
    border:none;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}

.gender-inputs { 
    position: relative;      
    padding-left: 25px; 
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}

.p1 {
    position: relative;      
    padding-left: 25px; 
    margin-bottom: 10px;

    font-size: 20px;
    font-family: 'Jost', sans-serif;
    color: #0097C1; 
}

label {
    display: block;
    margin: 5px 0;
}

.btn {
    background-color: #0097C1;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white; 
    
}

/* ПРАВА ЧАСТИНА */
.right {
    width: 50%;
    position: relative;
}

/* ВЕЛИКІ ЛІТЕРИ */
.letter {
    position: absolute;
    width: 250px;
    opacity: 0.8;
}

.n {
    top: 150px;
    right: 222px;
}

.f {
    top: 650px;
    right: 222px;
}